#########
#Exclude all
#########
*
!*/
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.cpp
!*.h
!*.elf
!*.bmm
!*.xmp
#########
#export hardware
#########
!*.xsa
#########
#export zip
#########
!*.zip

#########
#HLS
#########
!*.app

*.dwf3work

HW/project_2/project_2.sim/

HW/project_2/project_2.cache/

HW/project_2/project_2.ip_user_files/

HW/project_2/project_2.runs/

HW/ClockFrequencyCounter/ClockFrequencyCounter.cache/

HW/ClockFrequencyCounter/ClockFrequencyCounter.ip_user_files/

HW/ClockFrequencyCounter/ClockFrequencyCounter.runs/

HW/ClockFrequencyCounter/ClockFrequencyCounter.srcs/

HW/DAQ_by_Rega/DAQ_by_Rega.cache/

HW/DAQ_by_Rega/DAQ_by_Rega.ip_user_files/

HW/DAQ_by_Rega/DAQ_by_Rega.runs/

project_2/

.metadata/

.sdk/

HLS/MadgwickAHRS_HW_development/

HW/DAQtest/DAQtest.cache/

HW/DAQtest/DAQtest.ip_user_files/

HW/DAQtest/DAQtest.runs/

HW/madgwick_1/

HW/madgwick_2/

HW/madgwick_3/

HW/zybo/

HW/zybo.sdk/

HW/Zybo2020.1/

HW/zybo_nav/

HW/koprosesor_AHRS/

HW/FreqCountTestHW/

HW/project_1/

HW/project_3/

HW/zybo_new1/

HW/zybo_new/

SW/DAQtest_software_backup1/

SW/DAQtestBD_wrapper_backup1/

HW/managed_ip_project/

HW/TestFreqHW/

HW/test_freq_count_ip/

HW/ClockFrequencyCounter/

SW/TestFreqSW_system/

SW/ClockFreqCountSW/

SW/ClockFreqCountSW_system/

SW/DAQtest_software_system_backup1/

SW/design_1_wrapper/

SW/design_1_wrapper_2/

SW/design_2b_wrapper/

SW/TestFreqSW/

SW/TestFreqSW_3/

SW/TestFreqSW_3_system/

SW/TestFreqSW_3B/

SW/TestFreqSW_3B_system/

SW/DAQtestBD_wrapper/

SW/DAQtest_system/

HW/DAQ_by_Rega/DAQ_by_Rega.sim/

HW/DAQtest/DAQtest.sim/

SW/DAQtest2/

SW/DAQtest_system2/

SW/DAQtestBD_wrapper2/

SW/DAQtest/DAQtesBD_wrapper/

SW/DAQtest/DAQtest_system/

HLS/PhaseError/solution1/impl/

HLS/PhaseError/solution1/syn/

HLS/PhaseError/solution1/.autopilot/

SW/DAQtest_failed/
